<launch>
  <include file="$(find fast_lio_sam)/launch/mapping_mid360_indoor.launch">
	  <!-- <arg name="rviz" value="false"/> -->
  </include>

  <include file="$(find livox_ros_driver)/launch/livox_lidar_msg.launch"/>
  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch"/>


</launch>