<launch>
  <include file="$(find scout_gazebo_sim)/launch/scout_smaze_world.launch">
  </include>

  <include file="$(find aloam_velodyne)/launch/aloam_velodyne_HDL_32.launch">
	  <arg name="rviz" value="false"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="world_to_camera_init" args="0 0 0 0 0 0 world camera_init 10" />
  <node pkg="tf" type="static_transform_publisher" name="camera_to_link" args="0 0 -0.1398 0 0 0 aft_mapped base_link 10" />

  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator">
      <remap from="~goal" to="/goal"/>
      <param name="waypoint_type" value="manual-lonely-waypoint"/>    
  </node>

  <node pkg="oac_mapping" type="oac_mapping_node" name="mapping_node" output="screen" required="true">
      <rosparam command="load" file="$(find oac_global_planner)/config/common.yaml"/>
      <rosparam command="load" file="$(find oac_mapping)/config/filter_chain.yaml"/>
  </node>

  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find oac_global_planner)/config/visual.yaml" />
  </node>

  <node pkg="oac_global_planner" type="oac_global_planner_node" name="global_planning_node" output="screen" required = "true">
      <remap from="~waypoints"       to="/waypoint_generator/waypoints"/>
      <rosparam command="load" file="$(find oac_global_planner)/config/common.yaml"/>
      <rosparam command="load" file="$(find oac_global_planner)/config/simulation.yaml"/>
  </node>

  <node pkg="oac_local_planner" type="oac_local_planner_node" name="local_planning_node" output="screen" required="true">
      <rosparam command="load" file="$(find oac_global_planner)/config/common.yaml"/>
      <rosparam command="load" file="$(find oac_global_planner)/config/simulation.yaml"/>
  </node>

  <!-- <node pkg="gpr" type="gpr_path" name="gpr_path" output="screen" required="true">
      <param name="file/cfg_path" type="string" value="$(find gpr)/config/hyperparam.txt"/>
  </node> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find planner)/config/for_simulation/simulation.rviz" required="true"/> -->
</launch>
